.button__wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.button__wrapper-goods{
    margin: 2rem 1rem;
}

.button__wrapper-form{
    margin-top: 2.16rem;
    margin-bottom: 3.05rem;
}

.button{
    background: $yellowcolor;
    border-radius: 5.55rem;
    padding: 1.16rem 2.27rem;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.close{
    background: $yellowcolor;
    border-radius: 5.55rem;
    padding: 1.16rem 2.27rem;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.btn__unnactive{
    text-decoration: none;
    color: #fff;
    border-radius: 0;
    padding: 0% 0%;
    background: no-repeat;
    margin-left: 2.22rem;
    text-transform: none;
    font-weight: normal;
}