.footer__address{
    color: $semiblackFont;
    font-size: 21px;
}

.footer__phone{
    display: flex;
    align-items: center;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon { 
    width: 50px; 
    height: 50px;
    margin: .5em;
  }