.goods{
    background: #f8faf9;
    color: #666;
}

.container__goods{
    height: 100%;
}

.goods__about-items{
    display: flex;
    align-items: center;
    @include tablets{
        flex-direction: column;
        align-items: center;
    }

}

.wrapper__goods{
    width: 100%;
    padding: 0;
    background: url('../img/Vector_2.png') center center/ contain no-repeat;
    @include phones{
        background-size: 50%;
    }
}

.surf__item{
    @include phones{
        width: 50%;
        position: relative;
        left: 25%;
    }
}

.goods__desc{
    display: flex;
    flex-direction: column;
}

.goods__parameters{
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include tablets{
        display: none;
    }
}

.parameters__wrapper{
    position: relative;
    left: -10000%;

}
.parameters__list{
    background: #F8F9FA;
    opacity: .8;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    padding: 1rem;
}
.parameters__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.parameters__icon{
    width: 1rem;
    height: 1rem;
}

.parameters__text{
    margin-left: 1rem;
    text-align: left;
}

.parameters__summ{
    margin-left: 1.1rem;
}
.wrapper__about{
    position: relative;
    background: #3a587e;
    border-radius: 0.2rem;
    width: 5.05rem;
    height: 5.05rem;
    padding: 0.8rem 0.5rem;

    &:before{
        content: url('../img/cross_mini.png');
        padding: 2% 28%;
    }
    @include tablets{
        display: none;
    }
}


.goods__about{
    margin-left: 2.99rem;
}


.text__about{
    color: #fff;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
}

.item__decs{
    display: flex;
    flex-direction: column;
    @include tablets{
        align-items: center;
    }
}

.items__options{
    display: flex;
}

.item__options{
    margin-left: 2.7rem;

    &:first-child{
        margin-left: 0;
    }
}

.item__option-desc{
    color: #000;
    font-weight: bold;
}

.price__options{
    display: flex;
    align-items: center;
}

.item__price{
    font-size: 3.33rem;
    color: #151515;

    @include tablets{
        font-size: 2rem;
    }
    @include iphones{
        font-size: 2rem;
    }
}

