.section{
    min-height: 54rem;
    margin: auto;
    @include tablets{
        min-height: inherit;
    }
    @include phones{
        min-height: inherit;
    }
}

.main{
    background: url('../img/main__bg.jpg') center center / contain  no-repeat;
    background-size: cover;    
}

.main__container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 53rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0rem;
    
    @include tablets{
        background-color: #1968b1;
        max-height: 5.05rem;
    }

    @include phones{
        background-color: #1968b1;
        max-height: 5.05rem;
    }
}

.header__logo{
    @include tablets{
        margin-left: 1rem;
    }

    @include phones{
        margin-left: 1rem;
    }
}
.menu__list{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;

    @include tablets{
        display: none;
    }
}

.menu__item{
    margin-right: 1rem;

    &:first-child{
        margin-left: 4rem;
    }
    
    &:last-child{
        margin-right: 0;
    }
}

.menu__link{
    text-decoration: none;
    font-weight: bold;
}

.contacts{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}

.phone__img{
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
}

.contacts__phone{
    text-decoration: none;
    font-weight: bold;
}

.header__phone.header__phone-number{
    @include tablets{
        display: none;
    }
}

.hamburger__icon{
    display: none;
    @include tablets{
        display: block;
        margin-right: 1rem;
    }
}

.welcome{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 8%;
    @include tablets{
        width: 100%;
        text-align: center;
        padding: 10% 3%;
    }
    @include phones{
        width: 100%;
        text-align: center;
        padding: 10% 3%;
    }
}

.welcome__container{
    max-width: 51%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.welcome__title{
    font-size: 2.6rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1.6rem;

}

.welcome__text{
    margin-top: 0.9rem;
    font-size: 1.16rem;
    font-weight: normal;
}

.features__list{
    display: flex;
    padding: 0% 0%;

    @include tablets{
        display: none;
    }
    @include phones{
        display: none;
    }
}

.feature{
    display: flex;
    width: 82%;
    align-items: center;
}

.button__wrapper{
    @include tablets{
        align-self: center;
    }
}