.goods{
    background: #f8faf9;
    color: #666;
}

.container__goods{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 53rem;
}

.goods__about-items{
    display: flex;
    padding: 7% 0%;

}

.goods__item{
    padding: 0% 0%;
    position: relative;
}

.wrapper__goods{
    padding: 0% 0%;
    background: url('../img/Vector\ 2.png') left no-repeat;
}

.goods__desc{
    display: flex;
}

.goods__about{
    position: relative;
    background: #3a587e;
    border-radius: 0.2rem;
    width: 5.05rem;
    height: 5.05rem;
    margin-left: 4.5rem;
    padding: 0.8rem 0;

    &:before{
        content: url('../img/cross_mini.png');
        padding: 2% 28%;
    }
}

.text__about{
    color: #fff;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
}

.wrapper__about{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.item__decs{
    display: flex;
    flex-direction: column;
    margin-top: 2.88rem;
    min-width: 20.5rem;
    
}

.items__options{
    display: flex;
}

.item__options{
    margin-left: 2.7rem;

    &:first-child{
        margin-left: 0;
    }
}

.item__option-desc{
    color: #000;
    font-weight: bold;
}

.price__options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__price{
    font-size: 3.33rem;
    color: #151515;
}

