.why{
    color: $grayFont;
}

.section__why{
    padding: 5.7rem 0;
    color: $grayFont;
    text-align: center;
}

.container__why{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 53rem;
}

.why__content{
    color: $semiblackFont;
    font-size: 2.66rem;
    font-weight: bold;
    text-transform: uppercase;
}

.desc__list{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
    margin-left: 2.7rem;

    &:first-child{
        margin-left: 0;
    }

    @include phones{
        flex-direction: column;
        margin-left: 0;
    }
}

.icon__item{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #f2f5f4;
    width: 7.1rem;
    height: 7.1rem;
    border-radius: 50%; 
    border: 0.11rem;
    position: relative;

}

.desc__item{
    flex: 1;
    position: relative;
    padding: 0 3%;
    
    &:before{
    content: url(../img/shape.png);
    position: absolute;
    top: 3.33rem;
    right: 0;
    transform: translateX(50%);
    }

    &:first-child{
        padding-left: 0;
    }

    &:last-child{
        padding-right: 0;

        &:before{
            display: none;
        }
    }
    @include phones{
        display: flex;
        flex: 1;
        padding: 3% 3%;
        text-align: left;
        align-items: center;
    }
}

.why__icon{
    width: 50%;
    height: 50%;

}

.why__head{
    font-size: 1.5rem;
    font-weight: bold;
    color: #292929;
    margin-top: 1.55rem;
}

.why__text{
    margin-top: 1.11rem;
    padding: 0% 5%;
    @include phones{
        flex: 1;
        margin-top: 0;
        padding: 0% 5%;
    }
}

