.company:before{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 505px;
    background: url(../air-asia_img/gates.png) center center/ cover no-repeat;
}

.company__disc{
    background: url(../air-asia_img/mountains.png);
    width: 785px;
    height: 455px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    margin-left: 350px;
    margin-top: -420px;
}

.company__title{
    margin-top: 70px;
    margin-bottom: 37px;
    margin-left: 81px;
    font-size: 36px;
    font-weight: bold;
    color: black;
}

.company__disc-text{
    padding: 37px 202px 61px 81px;
    color: black;
}

.company__disc-text p:last-child{
    margin-bottom: 0;
}

.company__button-wrapper{
    margin-left: 81px;
}