.footer-container{
    display: flex;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #001821;
    padding: 2% 0%;
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__wrapper--right{
    display: flex;
    justify-content: space-between;
    align-items: flex-end
}

.contacts__disc{
    font-size: 11px;
    color: #9a9a9a;
}


