.header{
    padding-top: 33px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__column{
    display: flex;
    align-items: center;
}

.logo{
    display: block;
    width: 85px;
    height: 36px;
    top: 29px;
    left: 0px;
}

.menu{
    margin-top: 15.36px;
    margin-left: 79px;
}

.menu__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 60px;
    width: 41px;
    height: 24px;
}

.menu__link{
    font-size: 14px;
    color: white;
    text-decoration: none;
    line-height: 19.07px;
}

.menu__link:hover{
    color: #da0100;
}

.header__column--right{
    justify-content: flex-end;
}
.contacts{
    font-style: normal;
    text-align: right;  
}

.contacts__phone{
    font-style: normal;
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 2px;
    left: 522px;    
    width: 191px;
    height: 35px;
}

.contacts__dropdown-title{
    position: relative;
    font-style: normal;
    font-size: 13px;
    width: 188px;
    height: 20px;
    left: 0px; 
    text-decoration: underline;
    color: white;
}

