.form__controls{
    display: flex;
}

.form__controls-title{
    width: 40%;
    font-size: 18px;
    font-weight: bold;  
}

.controls__list{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.controls__item{
    margin-right: 16px;
    margin-bottom: 10px;
}

.controls__item:last-child{
    margin-right: 0;
    margin-bottom: 0;
}

.controls__elem{
    cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag{
    background: #b9eae4;
}

.controls__checkbox{
    display: none;
}