.main__content{
    background: #f2f2f2;
    color: #303030;
}

.services{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services__list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services__item{
    display: inline-flex;
    margin-top: 98px;
}

.services__content{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.services__item:last-child{
    margin-bottom: 69px;
    margin-top: 49px;
}

.services__img{
    width: 40%;
    margin-right: 7%;
}

.services__content{
    flex: 1;
}

.service__title{
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 28px;
}

.services__desc{
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 34px;
}

.paginator__display--serv{
    margin-bottom: 92px;
}