.welcome__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.welcome__title{
    display: flex;
    align-items: flex-end;
    width: 45%;
    min-height: 220px;
    font-size: 67px;
    font-weight: bold;
}

.welcome__text{
    font-size: 18px;
    font-style: normal;
    color: white;
    margin-bottom: 34px;
    width: 196px;
    height: 20px;
    margin-top: 10px;
}

.welcome__button-wrapper{
    display: flex;
}