.button__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 39px;
  margin-bottom: 55px;
}

.button {
  background: #fedb3f;
  border-radius: 100px;
  padding: 21px 41px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.btn__unnactive {
  text-decoration: none;
  color: #fff;
  border-radius: 0;
  padding: 0% 0%;
  background: no-repeat;
  margin-left: 22px;
  text-transform: none;
  font-weight: normal;
}